################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/msvc
/QtMocRule
moc_*.cpp
